
* {
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
}

.main_div {
display: flex;
justify-content: space-around;

}

.info_div{
flex-basis: 25%;
}
.img_div{
align-self:flex-end;
}
img {
  justify-content: center; 
  border-radius: 5% 5%;
  height: 90%;
  width: auto;
}

.titles,
.name {
  
}

h1 {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  color: black;
  font-size: 36px;
}

button {
 
  box-shadow: rgb(121, 104, 104) 4px 6px;
}
.copyright {
  color: red;
  font-size: 16px;
  margin-left: 1%;
  font-style: italic;
}

h3 {
  color: black;
  font-size: 24px;
  display: block;
 
  background: rgba(104, 88, 88, 0.75);
  display: inline-block;
}

.name {
  color: black;
}

h2 {
  color: black;
  font-size: 24px;
}
h5 {
  color: black;
  font-size: 18px;
}
